*{
    margin:0;
}

header{
    background-color:rgb(224, 221, 219);
    padding: 4rem;

}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: .8rem;
}

ul li:last-child{
    background-color: black;
    color: white;
    padding: .8rem;
}