*{
    margin:0;
}

header{
    background-color:rgb(224, 221, 219);
    padding: 4rem;

}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: .8rem;
}

ul li:last-child{
    background-color: black;
    color: white;
    padding: .8rem;
}

/* Exercise 2 */

#layout2{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#column1{
    background-color: aqua;
    flex-basis: 25%;
    height: 100vh;
}

#column2{
    background-color: rgb(34, 146, 146);
    flex-grow:1;
    height: 100vh;
}

/* Exercise 3 */

#gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5vh;
    gap: .8rem;
}

.photo{
    border: 1px solid black;
    flex-basis: 30%;
    height: 20vh;
    align-items: center;
    margin-top: 2rem;
}

/* Exercise 4 */
#button{
    background-color: rgb(189, 189, 189);
    display: flex;
    align-items: center;
    gap: .4rem;
    line-height: 0;
}

#iconButton{
    height: 2rem;
    width: 2rem;
}

/* Exercise 5 */

#body1{
    min-height: 100vh;
    display: flex;
}

footer{
    background-color: aqua;
    display: flex;
    flex: 1;
    height: 8rem;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
